*{
    box-sizing: border-box;
}
.image-container{
    display: flex;
    /* flex-direction: column; */
    position: relative;
}
.image{
    display: block;
    margin: auto;
    /* line-height: 100vh; */
    max-width: 100%;
}
.image-button{
    width: 200px;
    height: 50;
    background-color: bisque;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 100px);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
}
.image-button:hover{
    opacity: 1;
}