.anchor:link{
    color: white;
    background-color: black;
}
.anchor:visited{
    color: green;
    background-color: orange;
}
.anchor:active, .some-button:active{
    border: 3px solid red;
}
.anchor:hover{
    font-size: 24px;
}
.some-button:disabled{
    border: 2px dashed gray;
}
.some-button:enabled:hover{
    color: white;
    background-color: gray;
}
.search:focus{
    background-color: orangered;
}
.confirm-checkbox:checked{
    margin-left: 20px;
}